.Soda {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.Soda img {
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from { 
        tranform : rotate(0deg);
    } to {
        tranform: rotate(360deg);
    }
}